.menu_container {
    display: flex;
    margin-right: 50px;
}

.menu_btns {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default_menu,
.materias_menu {
    width: 380px;
    height: 100%;
    left: 0;
    display: flex;
    list-style: none;
}

.default_menu.materias,
.materias_menu {
    left: 50px;
}

.materias_menu {
    flex-direction: column;
    width: 0;
    transform: translateX(-100vw);
}

.menu_link,
.menu_session_started {
    height: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.menu_bar {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.menu_link li,
.menu_link .fas,
.menu_session_started,
.menu_session_started .fas {
    color: var(--color);
    transition: color .5s;
}

.menu_link li i,
.menu_session_started i {
    display: none;
}


/* Selected item_menu*/

.menu_link:hover .menu_bar,
.menu_session_started:hover .menu_bar,
.menu_link.selected .menu_bar {
    background: var(--primary_selection);
}

.menu_link:hover .fas,
.menu_session_started:hover .fa-user,
.menu_link.selected .fas,
.menu_link.materia_selected .fas {
    color: var(--primary_selection);
}

.menu_link:hover li,
.menu_session_started:hover,
.menu_link.selected li,
.menu_link.materia_selected li {
    color: var(--primary_selection);
}

.menu_link li:hover {
    color: var(--primary_selection);
    cursor: pointer;
}


/* End Selected item_menu*/

.menu_icon {
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

[id^="menu_icon_"]:hover,
.lateral_menu_selected {
    background: var(--color);
    color: var(--primary_selection);
    border-radius: 0;
}

.menu_icon.dif_page {
    background: #eeeeeefa;
    color: #787878;
    border-radius: 100%;
}

.menu_icon:hover {
    background-color: var(--primary_selection);
    color: var(--color);
}


/* Logout button */

.session_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.session_email {
    cursor: pointer;
}

.session_logout {
    cursor: pointer;
}

.session_logout_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50px;
    height: 50px;
    width: 100%;
    background: var(--primary_background);
    color: var(--color);
    transform-origin: top center;
    transform: scale(1, 0);
    transition: transform .5s, color 1s;
    cursor: pointer;
    border-top: 2px solid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-image: linear-gradient(to right, transparent, var(--primary_selection)) 1;
}

.session_logout_container:hover,
.session_logout_container:hover .fa-sign-out-alt {
    color: var(--primary_selection);
}

.menu_session_started:hover .session_logout_container {
    transform: scale(1, 1);
}


/* End Logout button */

@media screen and (max-width: 800px) {
    .default_menu,
    .materias_menu {
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 80px;
        background: var(--primary_background);
        overflow: hidden;
        transform: translateX(-550px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }
    .menu_link,
    .menu_session_started {
        width: 100%;
        height: 50px;
        justify-content: flex-start;
    }
    .menu_bar {
        width: 0;
    }
    .menu_link li i,
    .menu_session_started i {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }
    .menu_icon {
        display: flex;
    }
    .session_logout_container {
        top: 38px;
        width: 150px;
        justify-content: flex-start;
        background: var(--primary_background);
        border-image: linear-gradient(to right, var(--primary_selection), transparent) 1;
        box-shadow: none;
    }
}

@media screen and (max-height: 630px) {
    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }
}

@media screen and (max-height: 481px) {
    .materias_menu .menu_link {
        height: 40px;
    }
}

@media screen and (max-height: 411px) {
    .materias_menu .menu_link {
        height: 35px;
    }
}

@media screen and (max-height: 376px) {
    .materias_menu .menu_link {
        height: 30px;
    }
}