.info_test_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.info_test_box.hide {
    display: none;
}

.info_test_title {
    font-size: 1.2em;
    font-family: 'GOTHICB0';
}

.start_test_btn,
.restart_test_btn,
.send_test_btn,
.next_question_btn {
    margin: 15px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 8px 5px;
    font-size: .9em;
    height: 2.3em;
    width: 5em;
    border-radius: 4px;
    color: #fff;
    background-color: var(--secundary_selection);
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
}

.restart_test_btn {
    width: 9em;
}

.start_test_btn:nth-child(2) {
    margin-left: 15px;
}

.start_test_btn:hover,
.restart_test_btn:hover,
.send_test_btn:hover,
.next_question_btn:hover {
    box-shadow: inset 0 0 0 2px var(--secundary_selection);
    color: var(--secundary_selection);
    background-color: transparent;
}

.restart_test_btn:disabled,
.send_test_btn:disabled,
.next_question_btn:disabled {
    box-shadow: inset 0 0 0 2px rgb(89, 89, 89);
    color: #222;
    background-color: rgb(89, 89, 89);
}

.next_question_btn {
    display: none;
}

.info_list {
    align-self: flex-start;
    margin-top: .5rem;
    font-size: .9em;
    color: var(--color);
    font-family: CenturyGothic;
}

.test_quizz_box {
    display: none;
}

.test_quizz_box.show {
    display: block;
}


/* Qizz */

.test_header {
    height: 70px;
    padding: 10px 20px;
    background: var(--tertiary_background);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.test_time_left {
    font-family: 'GOTHICB0';
    font-size: 1.1em;
    user-select: none;
}

.test_timer_sec {
    font-family: 'GOTHICB0';
    font-size: 1.1em;
    height: 30px;
    width: 45px;
    color: #000;
    border-radius: 5px;
    background: #fff;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test_time_line {
    height: 3px;
    width: 0%;
    background: var(--secundary_selection);
    transition: width 1s linear;
}

.section_test {
    padding: 20px 15px;
    background: var(--tertiary_background);
}

.test_box.hide {
    opacity: 0;
    transition: all 1s ease;
}

.test_box.show {
    opacity: 1;
    transition: all 1s ease;
}

.test_question {
    color: var(--color);
    font-size: 1.3em;
    font-family: 'GOTHICB0';
}

.test_options {
    color: var(--color);
    font-size: 1.1em;
    padding: 15px;
}

.test_option {
    background: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.test_option i {
    display: none;
}

.test_option.correct {
    background: rgb(192, 254, 242);
    color: #3b8b58;
    box-shadow: inset 0 0 0 1.5px #84c5fe;
}

.test_option.incorrect {
    background: rgb(255, 243, 240);
    color: rgb(164, 19, 48);
    box-shadow: inset 0 0 0 1.5px #fe9884;
}

.footer_quizz {
    background: var(--tertiary_background);
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

.result_test_box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}