.button_up {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--secundary_background);
    font-size: 20px;
    color: var(--primary_selection);
    cursor: pointer;
    transition: transform .3s ease, background-color .4s ease-in-out, color .4s ease-in-out;
    transform: scale(0);
}

.button_up:hover {
    background: var(--primary_selection);
    transform: scale(1.1);
    color: var(--color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}