footer {
    width: 100%;
    padding-top: 25px;
    background: var(--primary_background);
}

footer .logo_container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .words {
    margin-top: 15px;
}

.footer_medias {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(70, 70, 70);
}

.footer_media_icon {
    font-size: 20px;
    background: var(--primary_selection);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: rgb(70, 70, 70);
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.fa-github:hover {
    background: var(--github_background);
    color: #fff;
}

.footer_copy {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary_selection);
    border-top: 2px solid #726e6e7a;
    font-weight: 500;
}

@media screen and (max-width: 530px) {
    .footer_medias {
        flex-direction: column;
    }
}