.materia_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
}

.materia_resources {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    padding: 20px;
}

.materia_resource_view {
    display: flex;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    .materia_resource_view {
        flex-direction: column;
    }
    .materia_resource_view:nth-child(2) {
        display: none;
    }
}